<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2><u>Hope you like the visit</u></h2>
    <b>Details:</b>
    <table>
        <tr>
            <th>Name:</th>
            <td>{{visitor}}</td>
        </tr>
        <tr>
            <th>Host name:</th>
            <td>{{host}}</td>
        </tr>
        <tr>
            <th>Email:</th>
            <td>{{mail}}</td>
        </tr>
        <tr>
            <th>Phone:</th>
            <td>{{mobile}}</td>
        </tr>
        <tr>
            <th>Check-in time:</th>
            <td>{{cTime}}</td>
        </tr>
        <tr>
            <th>Check-out time:</th>
            <td>{{oTime}}</td>
        </tr>
        <tr>
            <th>Address visited:</th>
            <td>{{address}}</td>
        </tr>
    </table><br>
    
</body>
</html>